
* {
	padding:0px;
	margin:0px;
}
/*
@media (max-width: 1040px)
body {
    overflow-x: auto;
}*/

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;    
    line-height: 1.42857143;
    color: #000;
    position: relative;
    overflow-x: hidden;
}

.main {
	    /*position: absolute;*/
    top: 0; 
    left: 0;
    width: 100%;
	background:#F1F5A9
	/*// dùng absolute thì phải dùng left right ..  cò ở đây em để giá trị là o thì đâu cần dùng*/
}
.header {
	position: relative;
    z-index: 10;
    min-height: 92px;
    background: #DFDFDF;
	
	
	
}
/*
@media (max-width: 1200px)
.f-header {
    width: 1024px;
    max-width: 1024px;
	
}
@media (min-width: 60px)
.f-header {
    width: 56px;
    max-width: 56px;
	
}*/



.f-header {
	width: 1200px;
    max-width: 1200px;	
	min-height:56px;
	font-family:"Comic Sans MS", cursive;
	margin: 0 auto;
	position:relative;
	display:block; // cái này không ghi đè đc
	background:none;
}

.f-logo {
	width: 187px;
    margin-top: 8px;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 10;
	left:0;
	background-color:none;
}

.f-search {
	background-color: none;
	float: left;
	height: 56px;
	width:56%;		
}
/*
@media (max-width: 1200px).f-search>form {
    max-width: 470px;
}*/

.f-search>form {
    display: block;
    width: 604px;
    position: relative;
    z-index: 11;
	margin: 7px 0px 20px 27px;	
}

.f-search>form>input {
    width: 100%;
    height: 38px;
	padding: 0 0px 0 10px;
	border-radius: 10px;
	border:none;
}

.f-search>form>button {
    width: 58px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
	margin: 0px -10px 0 0 ;
	border:none;
	border-radius:10px;
	background:none;
}

.f-menu {
	position: absolute;
    top: 0;
    right: 0;
    text-align: right;
	background:none;
	/*display:block;*/
	padding-left:20px;
}

.icon-dttrogia {
	background-image: url(../image/icon/icon_trogia.gif);
	background-repeat:no-repeat;
	background-position: center;
	width:20px;
	height:10px;
}

.f-menu ul{
	list-style-type: none;	
}

.f-menu > li:first-child {
	margin-left:0px;
}

.f-menu > ul > li {
	padding: 12px 4px 0 6px;
	
	margin-left: 10px;
	text-align: center;
	display:inline-block;
	position: relative;	
}
 

li > a {
	text-align:center;
	text-decoration:none;
}

span {
	display:block;	
}
/*
@media (max-width: 1200px)
.menu {
    width: 1024px;
    max-width: 1024px;
}

.menu {
	width: 1200px;
    max-width: 1200px;		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;
	min-height:36px;
	 background: #C0C;
	position:relative;
}
*/

.menu {
	position:relative;
	border:1px solid #F00; 
	width:auto;
    min-height: 36px;
    background: #C0C;
	display:block;
	
}
}
/*
@media (max-width: 860px)
.wrap-menu {
    width: 1024px;
    max-width: 1024px;
}*/

.wrap-menu {
	width: 860px;
    max-width: 860px;		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;
	min-height:auto;
	 background: #C0C;
	
}

/*


.wrap-menu {
		
	font-family:"Comic Sans MS", cursive;
	top:0;
	left:0;
	margin: 0 auto;

	
}
*/
.wrap-menu > ul {
	list-style-type:none;
}
.wrap-menu > ul > li:first-child {
	margin-left:20px;
}

.wrap-menu > ul > li{
	padding: 2px 15px 0 15px;	
	margin-left: 10px;
	text-align: center;
	display:inline-block;
	position: relative;
	
	
	
}
*/







/* Anh Style tại đây nha cs gì em config lại ok**/


.toggle-nav{
	width: 100%;
	display: block;

}
.toggle-nav li a{
	padding: 10px 0px;
	text-decoration: none;
	background: green;
	display: block;
}

.toggle-nav li a:hover{
	background: #f0f;
	color: #fff;
}

.logo-toggle{
	text-align: center;
	padding:15px 0px;
}

@media and screen(min-width: 300px){
	#hidden-toggle{
		display: none; // menu nhỏ tức mobile
	}
	.main{
		display: block; // menu lớn tức desktop 
	}
}


@media and screen(max-width: 300px){
	#hidden-toggle{
		display: block;
	}
	.main{
		display: none;
	}
}





