body {
    
    width: auto;
    height: auto;
}

.c-main{
	
    width: 100%;
    height: 100%;
    position: relative;
    background: #f3f3f3;
	margin: 0 auto;
}


.View-all {
    height: auto;
    max-width: 1160px;
    margin: 0 auto;

    position: relative;
    background-color:  none;
    
}

.Link {
       max-width: 1160px;
    height: 25px;
    
}

.product-link li {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    height: 17px;
    color: #6e6e6e;
}

.product-link {
    margin-left: -40px;
}

.product-link ul {
    list-style: none;
}

.banner-ads {
    max-width: 1160px;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;    
}

.product-bottom {
    max-width: 1160px;
    height: 2084px; 
        margin-bottom: 20px;   
}

.product-bottom-1 {
    float: left;
    width: 20%;
    height: 2084px;
    background: #fff;    
    margin-bottom: 15px;
}

.product-bottom-2 {
    float: right;
    width: 79%;
    background-color: #fff;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0px 0;
}

.boloc {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px;
    border-bottom: 1px solid #0000003b;
    width: 230px;
    height: auto;
}

.chi-tiet-loc {
    width: 230px;
    height: 1029px;
}

.chi-tiet-loc-km {
    height: 120px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;

}

.chi-tiet-loc-hsx {
    width: 230px;
    height: 500px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: 20px;

}

#search {
    border-radius: 18px;
}

.timkiem input#search {
    width: 200px;
    height: 36px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.timkiem .icon {
    position: absolute;
    top: 50%;
    margin-left: -24px;
    margin-top: -140px;
    z-index: 1;
    color: #4f5b66;
}

.chi-tiet-loc-giaca {
    width: 230px;
    height: 271px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -50px;

}

.chi-tiet-loc-tn {
    width: 230px;
    height: 321px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -11px;

}

.chi-tiet-loc-mh {
    width: 230px;
    height: 321px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -37px;

}

.chi-tiet-loc-hdh {
    width: 230px;
    height: 321px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -109px;

}

.chi-tiet-loc-tragop {
    width: 230px;
    height: 321px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -133px;

}

.chi-tiet-loc-nhucau {
    width: 230px;
    height: 321px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    margin-top: -133px;

}

.tieu-chi-chon-san-pham {
    
        width: 100%;
    display: inline-block;
    border-bottom: 1px solid #0000003b;
    padding: 6px 15px;
}

.ten-san-pham {
    

    height: 31px;
    color: black;
}

.ten-san-pham a {
    display: inline-block;
    float: left;
}

.ten-san-pham span {
    font-size: 14px;
    padding-left: 10px;
}

.chon-tieu-chi {

    width: 165px;
    height: 32px;
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 30px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    background-color: yellow;
    position: absolute;
    margin-top: -39px;
    margin-left: 717px;
}

#tieu-chi {
    margin-left: -52px;
    height: 34px;
    width: 212px;
    margin-top: -1px;

}
.hien-thi-danh-sach-san-pham{
        margin-top: 15px;
}
.khung-anh{
    width: 224px;
    display: inline-block;
    float: left;

}
.khung-anh img {
    height: 253px;
    width: 214px;
}
.khung-anh2{
    width: 285px;
    height: 380px;
    margin-bottom: 6px;
    display: inline-block;
    margin-top: 20px;

}
.anh{
        vertical-align: middle;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 20px;
    max-height: 200px;

}
.anh2{
    vertical-align: middle;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 54px;
    margin-right: 20px;
    max-height: 200px;

}
.box-thong-tin-san-pham{
        
text-align: center;
    padding-left: 20px;
    margin-top: 8px;
    font-size: 16px;
}

.box-thong-tin-san-pham p {
    font-size: 14px;
}
.trang-san-pham-tiep-theo{
    width: auto;
    
  
}
.san-pham-ban-vua-xem{
    height: 395px;
    width: auto;
    margin: 0px auto;
}
.td{
        width: auto;
    font-size: 20px;
    margin: 0px auto;
}
.owl-item.active > div:after {
    content: 'active';
}
.owl-item.center > div:after {
    content: 'center';
}
.owl-item.active.center > div:after {
    content: 'active center';
}
.owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

