* {
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}
.clean {
    clear: both;
    width: auto;    
    background: black;
}


/* @media (max-width: 1160px) body {
    overflow-x: auto;
} */



.main {
    position: relative;
    top: 0;
    left: 0;


    width: 100%;
    background: #f3f3f3;

}


.clearfix {}
.bxh-price {}

.content {
    width: 1160px;
    margin: 0 auto;
}

.c-wrap {
    background: none;
}

.ads {

    margin-top: 10px;
}

.ads img {
    width: 1160px;
    height: 75px;
}

.c-banner {
    margin-top: 20px;
    width: 1160px;
    background: none;

}

.slideshow {
    
    width: 700px;
    background: none;
    display: inline-block;



}

.carousel-inner img {
    width: 700px;
    height: 600px;
}
.carousel-indicators .active {
    background-color: #aeaeaebf;
  }

.carousel-indicators li {   
    border: solid 1px #bbbbbb;
    
}


.right-banner {

    height: auto;
    width: 450px;
    margin-left: 5px;
    background: none;
    display: block;
    float: right;
    position: relative;


}

.ads1 {
    height: 88px;
    width: 450px;
    background: white;
}

.ads2 {
    height: 88px;
    width: 450px;
    background: white;
    margin: 13px 0;
}

.news {

    height: 141px;
    width: 450px;
    background: white;
    position: relative;
}

.n-title {
    background: none;
    width: 100%;
    position: absolute;
    margin: -13px 0 0 8px;

}

.ntitle h3 {
    font-size: 16px;
    clear: right;
}

.n-title>h3>a {
    float: right;
    font-size: 14px;
    text-decoration: none;
    ;
    color: black;
    font-weight: normal;
    display: block;
    margin: 6px 14px 0 0;

}

.n-title>h3>a:hover {
    text-decoration: underline;
    color: red;
}

.line-news {
    width: auto;
    height: 100px;
    background: none;
    position: absolute;
    margin-top: 41px;
}

.line-news>ul {
    list-style-type: none;
}

.line-news>ul>li {
    padding: 5px 5px 3px 8px;

}

.line-news>ul>li>a>img {

    float: left;
    width: 70px;
    height: 40px;
    display: block;




}

.line-news>ul>li>a>span {

        width: auto;
    height: 40px;
    padding-left: 87px;
    text-align: left;
    color: black;
    display: block;
}

.line-news>ul>li>a {
    text-decoration: none;
}

.line-news>ul>li>a:hover {
    text-decoration: underline;
}

.produce {
    width: auto;
    height: auto;
    margin-top: 21px;
    background: none;



}

.produce>h2 {
    display: inline-block;
    text-transform: uppercase;
    margin-top: -5px;    
    font-size: 22px;


}

.produce>a {


    float: right;
    text-decoration: none;
    margin-top: -4px;
    font-weight: normal;
    color: black;
    font-size: 14px;







}

.produce>a:hover {

    text-decoration: underline;
    color: red;
}

/*.produce > hr {
    border: none;
    display: block;
    margin-bottom: 20px;
}*/

.clear-fix {
    /*margin: 0 -4.5px 15px;*/
}
.pro-box:nth-child(16), .pro-box:nth-child(19) {
    margin-left: 7.578px;
    margin-right: 0;
}

.produce .pro-box:nth-child(3n+0) {
    margin-right: 0;
}

.pro-box {
    
    width: 32.9%;
    height: auto;
    float: left;
    /* padding: 0 4.5px; */
    margin-bottom: 20px;
    margin-right: 7.578px;
    position: relative;
}

.pro-box>a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #fff;
}

.pro-box a:hover {
    text-decoration: none;
    color: #9B9797;
    opacity: 0.7;

}
.pro-title {
    padding: 6px 0 0 13px;
    background: none;
}

.pro-img {
    width: 100%;
    margin-top: -14px;
}

.pro-name {
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    color: #1e1e1e;
    line-height: .83;
    margin-bottom: 3px;
    margin-top: 11px;
}

.pro-price {
    font-size: 14px;
    font-weight: bold;
    color: #383838;
    padding-bottom: 6px;
}

.pro-news {
    position: absolute;
    top: 12px;
    right: 9px;
    padding: 2px 6px 1px 6px;
    font-size: 12px;
    color: #fafbfa;
    background: #ff2842;
    border: solid 1px #ff677a;
    border-radius: 2px;
}



.accessories {
    width: auto;
    height: auto;
    background: none;
    position: relative;
}


}.accessories .acc:last-child() {
    margin-right: 0;
}
.acc {
    height: 282px;
    width: 16.3375%;
    display: inline-block;
    padding-top: 11px;
    overflow: hidden;
    background: #fff;
    position: relative;
    margin-right: 0.6px;
}

.acc img {
    width: 100%;
    height: 200px;
}
.acc div {
    padding: 0 10px;
}

.acc:hover {
    text-decoration: none;
}

.acc>a:hover {
    text-decoration: none;
}

.acc h4 {
    font-size: 17px;
    margin-bottom: 5px;

}

.acc h6 {
    font-size: 14px;
    position: absolute;
    margin-top: -3px;
}

/**Footer style**/

.m-footer {
    width: 100%;
    background: #fff;
    position: relative;
    margin-top: 20px;
}


@media (max-width: 1160px) .row {

    max-width: 1160px;

}

@media (min-width: 60px) .row {

    max-width: 56px;

}

.m-row {


    max-width: 1160px;
    font-family: "Comic Sans MS", cursive;
    margin: 0 auto;
    position: relative;
    display: block;
    background: none;

    overflow: hidden;





}

.fo-col {
    margin-top: 11px;
    width: 20%;
    float: left;
}

.fo-col ul {
    list-style: none;



}

.fo-col li {
    padding: 9px 0;
    font-size: 14px;
    font-family: Arial;
    

}

.fo-col .fo-col>ul>li>a {
    color: #3399d2;

}

.fo-col>ul>li a:hover {
    text-decoration: none;
    color: #6A6868;
    opacity: 0.9;
}

.p-lang {
    margin-bottom: 2px;
}



.contact {
    color: red;
    font-weight: bold;
        margin-top: -17px;
  
}





.inf {
    width: 100%;

    text-align: center;
    font-size: 12px;
    margin-top: 7px;
}

.end {
    width: 100%;
    padding-top: 25px;
    background: #fff;
}

#bttop {
    background: rgb(100, 98, 98);
    text-align: center;
    padding: 7px 9px;
    position: fixed;
    border-radius: 10px;
    bottom: 110px;
    right: 24px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    opacity: 0.7;
}

#bttop:hover {
    opacity: 1;
}